@import '../../../../styles.scss';

:host {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: mat-color($accent);
    position: fixed;
    bottom: 0;
}

.mat-toolbar {
    max-width: 80%;
    max-height: 40px !important;
    background: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-spacer {
    flex: 1 1 auto;
}

p {
    font-size: 0.8rem;
    color: #fff !important;
    margin: 0;
}

.mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    background-color: none !important;

    a {
        color: #fff !important;
        text-decoration: none !important;
    }
}